.mt-4 {
    margin-top: 4px;
}
.mt-8 {
    margin-top: 8px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-12 {
    margin-top: 12px;
}
.mt-16 {
    margin-top: 16px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-24 {
    margin-top: 24px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-90 {
    margin-top: 90px;
}
.mt-100 {
    margin-top: 100px;
}

.mb-4 {
    margin-bottom: 4px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-30 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-60 {
    margin-bottom: clamp(40px, 4vw, 60px);
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}
.mb-90 {
    margin-bottom: 90px;
}
.mb-100 {
    margin-bottom: 100px;
}

.pt-60 {
    padding-top: clamp(40px, 4vw, 60px);
}
.pb-60 {
    padding-bottom: clamp(40px, 4vw, 60px);
}
.aspectRatio {
    position: relative;
    &.aspectRatio--100 {
        &:before {
            content: "";
            display: block;
            padding-top: 100%;
        }
    }
    &.aspectRatio--16-9 {
        &:before {
            content: "";
            display: block;
            padding-top: 56.25%;
        }
    }
    &.aspectRatio--9-16 {
        &:before {
            content: "";
            display: block;
            padding-top: 160%;
        }
    }

    &.aspectRatio--verticle {
        &:before {
            content: "";
            display: block;
            padding-top: 200%;
        }
    }
}
.img {
    img {
        width: 100%;
        display: block;
    }
}

.content-w {
    width: 100%;

    margin: 0 auto;

    &.size-lg {
        width: 1600px;
        @media (max-width: 1360px) {
            width: 100%;
        }
    }
    &.size-md {
        width: 1200px;
        @media (max-width: 1360px) {
            width: 100%;
            padding: 0 20px;
        }
    }
}

.desktop {
    &.container {
        max-width: 2048px;
        .page-content {
            padding: 100px 0 60px;
        }
    }
}
.page-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 100%;
    transition: var(--transition);
    .logo-brand {
        font-size: clamp(20px, 4vw, 30px);
        font-weight: bold;
        span {
            color: var(--color-primary);
        }
    }
    .nav {
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            li {
                a {
                    text-decoration: none;
                    font-weight: bold;
                    margin-left: 2em;
                    font-size: clamp(16px, 4vw, 24px);
                    color: rgba(255, 255, 255, 0.6);
                    transition: all ease 0.8s;
                    &:hover {
                        color: white;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

#load {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 00%;
    top: 00%;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    transition: all ease 0.5s;
    &.hide {
    }
}
#load .wrap {
    position: relative;
    width: 50%;
    height: 60px;
}
#load .wrap div {
    height: 60px;
    position: absolute;
    opacity: 0;
    font-family: Helvetica, Arial, sans-serif;
    animation: move 2s linear infinite;
    -o-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    -webkit-animation: move 2s linear infinite;
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    color: var(--color-primary);
    font-size: 2em;
}

#load div:nth-child(2) {
    animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}
#load div:nth-child(3) {
    animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}
#load div:nth-child(4) {
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}
#load div:nth-child(5) {
    animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}
#load div:nth-child(6) {
    animation-delay: 1s;
    -o-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
#load div:nth-child(7) {
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}

@keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }
    35% {
        left: 41%;
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
    65% {
        left: 59%;
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        left: 100%;
        -moz-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }
}
.ReactModal__Body--open {
    overflow: hidden;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
