html {
    --color-base: #e5e5e5;
    --color-primary: #fca311;
    --color-secondary: #14213d;
    --color-sub-1: #e5e5e5;
    --color-sub-2: #00be90;
    --color-sub-3: #64ccc9;
    --color-sub-4: #cc9064;
    --color-sub-5: #cc6464;
    --transition: all ease 0.5s;
    --border-radius-sm: 5px;
    --border-radius-md: 10px;
    --border-radius-lg: 20px;
    --font-primary: "Roboto Condensed", sans-serif;
    --font-secondary: "Sono", sans-serif;
}
