@import "fonts";
@import "setup";
@import "variables";
@import "reset";

body {
    font-family: var(--font-primary);
    font-size: clamp(18px, 1vw, 22px);
    line-height: 1.5;
    color: var(--color-base);
    font-weight: 400;
    background-color: var(--color-secondary);
    @media (width: 768px) {
        font-size: 16px;
    }
}

textarea,
input.plain-text, /* this is a class */
input[type="text"],
input[type="button"],
input[type="submit"],
input[type=”email”],
input[type=”tel”],
input[type=”number”],
.input-radio-checkbox {
    /* this is a class */
    -webkit-appearance: none;
    border-radius: 0;
}

section {
}
