.project-detail {
    .wrap {
        display: flex;
        flex-wrap: wrap;

        .detail {
            width: 67%;
            height: 100%;
            padding: 60px;
            @media (width < 1280px) {
                padding: 40px;
            }
            @media (width < 1024px) {
                width: 100%;
                padding: 0 20px 40px;
            }
            img {
                width: 100%;
                display: block;
            }
            .list {
                display: flex;
                gap: 60px;
                flex-wrap: wrap;
                @media (width < 1280px) {
                    gap: 40px;
                }
                @media (width < 768px) {
                    gap: 20px;
                }
                &:hover .item {
                    opacity: 0.5;
                }
                .item {
                    width: calc((100% - 180px) / 4);
                    aspect-ratio: 9/ 16;
                    background-size: cover;
                    background-position: center top;
                    background-repeat: no-repeat;
                    transition: all ease 0.5s;
                    cursor: pointer;
                    border-radius: 10px;
                    border: 1px solid white;
                    @media (width < 1280px) {
                        width: calc((100% - 120px) / 4);
                    }
                    @media (width < 768px) {
                        width: calc((100% - 20px) / 2);
                    }
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
        .side-bar {
            padding: 60px;
            position: fixed;
            height: 100vh;
            top: 0;
            right: 0;
            width: 33%;
            background-color: black;
            border-left: 1px solid rgba(255, 255, 255, 0.2);
            @media (width < 1280px) {
                padding: 40px;
            }
            @media (width < 1024px) {
                position: static;
                width: 100%;
                height: auto;
                padding: 40px 20px;
            }
            &__head {
                .back {
                    width: 40px;
                    height: 40px;
                    display: block;
                    background-color: var(--color-primary);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    line-height: 1;
                    transition: all ease 0.5s;
                    cursor: pointer;
                    margin-bottom: 40px;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
            &__body {
                .tech-stalk {
                    width: 100%;
                    margin-bottom: 20px;
                    span {
                        display: inline-block;
                        margin-right: 12px;
                        font-size: 1em;
                        color: rgba(255, 255, 255, 0.7);
                    }
                }
                .project-name {
                    font-size: 2em;
                    font-weight: 700;
                    color: var(--color-primary);
                    font-family: var(--font-secondary);
                    text-transform: uppercase;
                }
                .time {
                    font-size: 0.875em;
                    margin-bottom: 1.5em;
                }
                .description {
                    font-size: 0.875em;
                    margin-bottom: 2em;
                    @media (width< 1024px) {
                        margin-bottom: 0;
                    }
                }
                .visit-page {
                    display: inline-block;
                    position: relative;
                    z-index: 2;
                    padding: 12px 48px;
                    border-radius: 50px;
                    color: var(--color-secondary);
                    background-color: var(--color-primary);
                    transition: all ease 1s;
                    text-decoration: none;
                    @media (width < 1024px) {
                        position: fixed;
                        bottom: 30px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &:hover {
                        cursor: pointer;
                        box-shadow: 0 0 40px 0 rgba(#1593e3, 1), inset 0 0 40px 0 rgba(white, 1);
                        @media (width < 1024px) {
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}

.ReactModalPortal {
    .ReactModal__Overlay {
        z-index: 2000;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: rgba(0, 0, 0, 0.6) !important;
        .ReactModal__Content {
            inset: 0 !important;
            width: calc(100% - 80px);
            max-width: 1920px;
            padding: 0 !important;
            margin: 40px auto;
            border: NONE !important ;
            background-color: transparent !important  ;
            .modal {
                width: 100%;
                position: relative;
                background-size: 100%;
                border-radius: 30px;
                border: 2px solid var(--color-bg-primary);
                padding: calc(var(--gutter) * 2) calc(var(--gutter) * 1.5);
                overflow: hidden;

                .close-md {
                    width: 40px;
                    margin: 20px auto 0;
                    position: fixed;
                    aspect-ratio: 1;
                    z-index: 2;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 100px;
                    background-color: white;
                    border: 1px solid black;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all ease 0.5s;
                    @media (width < 1024px) {
                        bottom: 60px;
                        width: 30px;
                    }
                    &:hover {
                        transform: translateX(-50%) scale(1.1) rotate(90deg);
                    }
                    .img {
                        width: 50%;
                        cursor: pointer;
                    }
                }
                .md-content {
                    position: relative;
                    z-index: 3;
                }
            }
        }
    }
}
