.menu {
    position: fixed;
    width: 100%;
    transition: all ease 0.5s;
    z-index: 1000 !important;
    top: 0;
    left: 0;
    // &.left {
    //     top: 0;
    //     left: -100%;
    //     &.active {
    //         left: 0%;
    //     }
    // }
    // &.right {
    //     top: 0;
    //     right: -100%;
    //     &.active {
    //         right: 0%;
    //     }
    // }
    // &.top {
    //     top: -100%;
    //     left: 0;
    //     width: 100%;
    //     &.active {
    //         top: 0;
    //     }
    // }
    &.active {
        background-color: rgba(#5918df, 0.2);
        @media (width < 768px) {
            background-color: rgba(#5918df, 1);
        }
    }
    .wrapper {
        margin: auto;
        padding: 0 2em;
        max-width: 2048px;
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;
            @media (width < 768px) {
                justify-content: space-between;
            }
            li {
                font-size: 1.125em;
                text-decoration: none;
                display: block;
                padding: 1em 0;
                text-align: left;
                color: white;
                transition: ease 0.5s all;
                position: relative;
                margin-left: 3em;
                @media (width < 768px) {
                    margin-left: 0;
                    font-size: 1.125em;
                    padding: 0.75em 0;
                }
                &::before {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    // background-color: var(--color-primary);
                    display: block;
                    content: "";
                    width: 0;
                    height: 2px;
                    transition: ease 0.5s all;
                    background-color: white;
                }
                &:hover,
                &.active {
                    &::before {
                        width: 100%;
                    }
                    cursor: pointer;
                    // color: var(--color-primary);
                }
            }
        }
        .isDesktop {
            display: none;
        }
    }
}
