.menu {
    position: fixed;
    width: 100%;
    transition: all ease 0.5s;
    z-index: 1000 !important;
    &.left {
        top: 0;
        left: -100%;
        &.active {
            left: 0%;
        }
    }
    &.right {
        top: 0;
        right: -100%;
        &.active {
            right: 0%;
        }
    }
    &.top {
        top: -100%;
        left: 0;
        width: 100%;
        &.active {
            top: 0;
        }
    }
    &.active {
        background-color: rgba(#5918df, 0.2);
    }
    .wrapper {
        margin: auto;
        padding: 0 2em;
        max-width: 2048px;
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;
            li {
                font-size: clamp(20px, 1vw, 26px);
                text-decoration: none;
                display: block;
                padding: 1em 0;
                text-align: left;
                color: white;
                transition: ease 0.5s all;
                position: relative;
                margin-left: 3em;
                &::before {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    // background-color: var(--color-primary);
                    display: block;
                    content: "";
                    width: 0;
                    height: 2px;
                    transition: ease 0.5s all;
                    background-color: white;
                }
                &:hover,
                &.active {
                    &::before {
                        width: 100%;
                    }
                    cursor: pointer;
                    // color: var(--color-primary);
                }
            }
        }
        .isDesktop {
            display: none;
        }
    }
}
