.project-store {
    .search {
        width: 40%;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 222;
        @media (width < 767px) {
            width: 100%;
            right: 0;
            padding: 20px;
            top: 0;
            box-sizing: border-box;
        }
    }
    .title {
        aspect-ratio: 19/5;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-color: var(--color-primary);
        .text {
            font-size: 8em;
            line-height: 0.7;
            font-weight: bold;
            text-transform: uppercase;
            color: black;
            transform: translateY(12px);
            @media (width < 1600px) {
                font-size: 6em;
            }
            @media (width < 767px) {
                font-size: 2.5em;
                line-height: 1.1;
            }
        }
    }
    .tab-panel {
        position: relative;
        z-index: 2;
        margin-bottom: -1px;
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        z-index: 22;
        @media (width < 767px) {
            position: fixed;
            bottom: 0;
            left: 50%;
            width: 100%;
        }
        .panel {
            font-size: 1em;
            padding: 10px 20px;
            border-radius: 4px;
            margin: 0 8px;
            transition: all ease 0.5s;
            background-color: transparent;
            @media (width < 767px) {
                font-size: 0.75em;
                text-align: center;
                margin: 0;
                border-radius: 0;
                padding: 10px;
                width: 33.33%;
                background-color: rgba(#5918df, 0.5);
            }
            &:hover,
            &.active {
                cursor: pointer;
                background-color: var(--color-primary);
            }
        }
    }
    .tabs {
        padding-bottom: 140px;
        padding-top: 40px;
        @media (width < 767px) {
            padding-top: 10px;
        }
        .tab-content {
            padding: 20px;
            border-radius: 4px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 140%;
            margin-left: -20%;
            // background-color: red;
            position: relative;
            z-index: 2;
            @media (width <= 1600px) {
                width: 120%;
                margin-left: -10%;
            }
            @media (width <= 1360px) {
                width: 100%;
                margin-left: 0%;
            }
            @media (width < 1360px) {
                padding: 0 2em;
                grid-template-columns: 1fr 1fr;
            }
            @media (width < 768px) {
                grid-template-columns: 1fr;
                padding: 0;
            }
            &.web {
                gap: 0 clamp(6vw, 4vw, 10vw);
            }
            &.mobile {
                gap: 0 clamp(6vw, 4vw, 10vw);
                grid-template-columns: 1fr 1fr 1fr 1fr;
                @media (width < 1360px) {
                    grid-template-columns: 1fr 1fr 1fr;
                }
                @media (width <1024px) {
                    grid-template-columns: 1fr 1fr;
                }
                @media (width < 768px) {
                    grid-template-columns: 1fr 1fr;
                }
            }
            .item {
                padding-top: 4vw;
                @media (width > 1360px) {
                    &:nth-child(3n - 1) {
                        padding-top: 6vw;
                    }
                    &:nth-child(3n) {
                        padding-top: 8vw;
                    }
                }
                @media (width < 768px) {
                }
            }
        }
    }
}
